<div style="height: 100%; width: 100%;">
    <mat-card style="height: 100%; width: 100%;">
        <mat-card-content>
            <mat-card-title>Registro do dia {{ record.createdAt.toDate().toLocaleDateString() }}</mat-card-title>

            <div fxLayout='row wrap' fxFlexAlign='center' class='row m-t-20 border-box p-10'>
                <div fxFlex.gt-sm='100' fxFlex='100' class='p-10'>
                    <strong>Nota do dia: {{ record.rating.answer }}</strong>
                </div>
                <div *ngFor="let answer of record.answers" fxFlex.gt-sm='100' fxFlex='100' class='p-10'>
                    <p>{{answer.question.text}}</p>
                    <strong>{{ answer.answer }}</strong>
                </div>
            </div>
            <button mat-fab (click)="goBack()"
                style="background-color: #77dd77; position: fixed; bottom:0; right: 0; margin: 16px">
                <mat-icon>home</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</div>