<div style="height: 100%;">
    <mat-card style="height: 100%;">
        <mat-card-content>
            <mat-card-title>Novo registro do dia {{ todayDay.toLocaleDateString() }}</mat-card-title>
                <div fxLayout="row wrap" fxFlexAlign="center" class="row p-20 border-lead-main">
                    <div fxFlex.gt-sm='100' fxFlex='100' class='p-100'>
                        <p>Meu dia hoje foi nota {{question1}}</p>
                        <mat-slider class="example-margin" min="1" max="5" step="1" style="width: 100%;" [(ngModel)]="question1">
                        </mat-slider>
                    </div>
                    <div *ngFor="let question of questions" fxFlex.gt-sm='100' fxFlex='100' class='p-100'>
                        <mat-form-field style="width: 100%;">
                            <input type="text" placeholder="{{question.question.text}}" aria-label='Number'
                                [(ngModel)]="question.answer" matInput>
                        </mat-form-field>
                    </div>
                </div>
    

            <div class="basic-form m-t-10" fxLayout="row wrap" fxFlexAlign="center" class="row">
                <button mat-raised-button class="p-auto" style="background-color: red;" (click)="goBack()">
                    <span style="color: white">Cancelar</span>
                </button>
                <button mat-raised-button class="p-auto" style="background-color: #77dd77;" (click)="save()">
                    <span style="color: white">Salvar</span>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>