{
    "env": {
        "es6": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb",
        "@react-native-community",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/react",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint/eslint-plugin",
        "react-hooks",
        "prettier",
        "jest"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            { "singleQuote": true, "parser": "typescript" }
        ],
        "quotes": [1, "single", { "allowTemplateLiterals": true }],
        "linebreak-style": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
        "generator-star-spacing": 0,
        "import/no-unresolved": 0
    }
}