<main>
    <div style="height: 100%;">
        <mat-card style="height: 100%; width: 100%;">
            <mat-form-field>
                <input type="text" matInput placeholder="Pesquisar" [(ngModel)]="date" [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-list>
                <mat-list-item *ngFor="let item of list">
                    <mat-button-toggle (click)="selectItem(item.id)">{{ item.data }}</mat-button-toggle>
                </mat-list-item>
            </mat-list>
            <button mat-fab class="material-icons" (click)="registerDay()" style="background-color: #77dd77; position: fixed; bottom: 0; right: 0; margin: 16px;">
        <mat-icon>add</mat-icon>
      </button>
            <button mat-fab class="material-icons" (click)="signOut()" style="background-color: white; position: fixed; top: 0; right: 0; margin: 16px;">
        <mat-icon>exit_to_app</mat-icon>
      </button>
        </mat-card>
    </div>
</main>