<main>
    <div style="height: 100%; width: 100%;">
        <mat-card style="height: 100%; width: 100%;">
            <mat-form-field>
                <input type="text" matInput placeholder="Pesquisar" [matAutocomplete]="auto" [formControl]="myControl">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let record of filteredRecords | async" [value]="record">
                        {{record}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <i class='material-icons' (click)="registerDay()" style="background-color: #77dd77; border-radius: 50px; padding: 10px">add</i>
        </mat-card>
    </div>
</main>